.panel-wrapper {
  //   display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.sidebar {
  //   flex: 0 0 250px;
  width: 240px;
  background-color: #101010;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
  ul {
    color: #fff;
    li {
      border-bottom: 1px solid #1e1e1e;
      &:last-child {
        border-bottom: unset;
      }
    }
    a {
      padding: 16px 8px;
      display: block;
      transition: $transitionDuration;
      &:hover {
        background-color: $primaryColor;
        transition: $transitionDuration;
      }
    }
  }
  img {
    width: 100px;
    height: auto;
    margin-bottom: 48px;
  }
}
.sidebar.active {
  width: 60px;
  display: none;
}

.sidebar.active ~ .admin-content {
  width: calc(100% - 10px);
  left: 10px;
}

.admin-content {
  //   flex: 1;
  width: calc(100% - 240px);
  margin-left: auto;
  position: relative;
  //   left: 240px;
  .toggle-container {
    font-size: 24px;
    i {
      background-color: $primaryColor;
      padding: 8px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  .button-group {
    display: flex;
    gap: 16px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin: 32px 24px;
    background: #efefef;
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgba(239, 239, 239, 0.5);
  }
  .content {
    margin-top: 48px;
    padding: 0 24px;
    max-width: 1200px;
    margin: auto;
    h2 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      label {
        margin-bottom: 8px;
      }
      .btn-wrap {
        align-self: flex-end;
        margin-top: 24px;
      }
    }
  }

  input[type="file"]::-webkit-file-upload-button {
    background-color: $primaryColor;
    // border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: #fff;
  }

  input[type="file"]::file-selector-button {
    background-color: $primaryColor;
    // border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: #fff;
  }
}

@media (max-width: 1240px) {
  .sidebar {
    width: 20px;
    display: none;
  }
  .sidebar.active {
    width: 220px;
    display: block;
  }
  .sidebar.sidebar.active ~ .admin-content {
    overflow: hidden;
    // left: 220px;
    width: calc(100% - 220px);
  }
  .admin-content {
    width: calc(100% - 10px);
    left: 10px;
  }
}


table{
	width: 100%;
	border-collapse: collapse;
	font-size: inherit;
    margin-top: 48px;
}
th, td{
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid $grey-03;
}
.edit{
	color: green;
}
.delete{
	color: red;
}
.publish{
	color: blue;
}
.edit:hover, .delete:hover, .publish:hover{
	text-decoration: underline;
}